<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Categorias</title>
  <link href="../bootstrap.min.css" rel="stylesheet">
  <link href="../main.css" rel="stylesheet">
</head>
<body>
  <div id="header"></div>	
	<!-- Modal para nova categoria  -->
	<div th:if="${auth}">
		<button type="button" class="btn btn-primary" data-toggle="modal" style="float:right; margin:20px;"
			data-target="#newCategoryModal" >Cadastrar Categoria</button>
		<div class="modal fade" id="newCategoryModal" tabindex="-1"
			role="dialog" aria-labelledby="newCategoryModalLabel"
			aria-hidden="true" >
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="newCategoryModalLabel">Nova
							Categoria</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div> 
					<form  th:if="${auth}"  action="#" th:action="@{/categoria}"  method="post"   th:object="${category}" >
						<div class="modal-body">
							
								<div class="form-group">
									<label for="recipient-name" class="col-form-label">Nome:</label>
									<input type="text" class="form-control" th:field="*{name}"  />
								</div>
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" id="closeModal" 
								data-dismiss="modal">Fechar</button>
							<button type="button" class="btn btn-primary" onclick="validateCategory()">Salvar</button>
							 <input type="submit" value="Submit"  id="saveCategory" style="display:none;" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<h3>Categorias</h3>
	
	<table class="table table-bordered table-condensed table-hover">
		<thead>
			<tr style="font-weight: bold;">
				<td>#</td>
				<td>Categoria</td>
			</tr>

		</thead>
		
		<tbody id="form-list-client-body">
			<tr th:each="category : ${categories}">

				<td th:text="${category.id}"></td>
				<td th:text="${category.name}"></td>
			</tr>
		</tbody>
	</table>


</body>


  <div id="footer"></div>		
  <!-- Bootstrap core JavaScript -->
  <script src="../jquery.min.js"></script>
  <script src="../bootstrap.bundle.min.js" ></script>
   <script type="text/javascript"  th:inline="javascript" >
  $(function(){
      $("#header").load("https://" + window.location.host + "/components/header.html"); 
      $("#footer").load("https://" + window.location.host + "/components/footer.html");
      /*<![CDATA[*/
	     categories = /*[[${categories}]]*/ 'default';
	     returnSave = /*[[${result}]]*/ 'default';
	    /*]]>*/
	
	  setTimeout(function(){
		  if (returnSave!= "default"){
		 	  if (returnSave == "Erro")
		 		  showMessage("error", "Erro ao cadastrar categoria, tente novamente", 2600);
		 	  else if (returnSave != null)
		 		  showMessage("success", "Sucesso ao cadastrar categoria", 2600);
	  	  }
		}, 2700);
	  
   });

  </script>
  
    <script src="../validations.js" th:inline="javascript">></script>
</html>