<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Erro</title>
<!-- Bootstrap core CSS -->
<link href="../bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../main.css" rel="stylesheet">
</head>
<body>
    <div id="header"></div>
	
	<h3>Página não encontrada</h3>
	<div class="container">

	</div>
<div id="footer"></div>


<script src="../jquery.min.js"></script>
<script src="../bootstrap.bundle.min.js"></script>

	<script type="text/javascript">
	$(function(){
		$(".fb-comments").attr('data-href', window.location.href);
	    $("#header").load("https://" + window.location.host + "/components/header.html"); 
	    $("#footer").load("https://" + window.location.host + "/components/footer.html");	
	    
	    initForm();
	 });
	</script>
		
</body>
</html>