<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Pontos Turísticos</title>

<link href="../bootstrap.min.css" rel="stylesheet">

<link href="../main.css" rel="stylesheet">

<link href="../imagestyle.css" rel="stylesheet">
</head>

<body>

	<div id="header"></div>
	<div class="container">


		<header class="jumbotron my-4">
			<h1 class="display-3">Seja bem vindo(a)</h1>
			<p class="lead" id="userName">Log com sua conta do facebook para
				todas as funcionalidades</p>
			<div th:if="${auth}">
				<button onclick="refreshIdCategory(); initAutocomplete()"
					type="button" class="btn btn-primary" data-toggle="modal"
					style="margin: 20px;" data-target="#newTouristModal">Cadastrar
					Ponto Turístico</button>


				<div role="form">
					<div class="form-group">
						<label>Buscar pontos turísticos próximos à</label> <input
							type="text" class="form-control" id="searchNear" />
					</div>
					<div class="text-right">
						<button class="btn-info btn" onclick="retriveNearPlaces();">Buscar</button>
					</div>
				</div>

				<div role="form" onload="autoCompleteSearch();">
					<div class="form-group">
						<label>Buscar pontos turísticos por nome</label> <input
							type="text" class="form-control" id="searchName" />
					</div>

					<div class="text-right">
						<button class="btn-info btn" onclick="searchByName()">Buscar</button>
					</div>
				</div>
				
				<label>Exibir somente pontos turísticos que eu criei</label>
				<div class="custom-control custom-switch">

					<input type="checkbox" class="custom-control-input"
						id="customSwitches"> <label class="custom-control-label"
						for="customSwitches">Não|Sim</label>
				</div>

			</div>
		</header>


		<!-- Page Features -->
		<div class="row text-center"
			th:if="${searchFilter == true and searchName != null }">
			<div th:each="tourist : ${searchName}">

				<div th:id="listTouristId + ${tourist.id}"
					class="col-lg-10 col-md-10 mb-12">
					<span style="display: none;" th:id="listTouristId + ${tourist.id}"
						th:text="${tourist.id}"></span>
					<div class="card h-10">
						<img class="card-img-top" style="width: 150px; height: 150 px;"
							th:src="${tourist.mainPicture}" alt="">
						<div class="card-body">
							<h4 class="card-title">
								<span th:text="${tourist.name}"></span>
							</h4>
							<p class="card-text">
								<span th:text="${tourist.category.name}"></span>
							</p>
						</div>
						<div class="card-footer">
							<a th:href="turistico + '?id=' + ${tourist.id}"
								class="btn btn-primary">Ver mais detalhes</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row text-center"
			th:if="${allTouristPost != null and searchFilter == false }">
			<div th:each="tourist : ${allTouristPost}">

				<div th:id="listTouristId + ${tourist.id}"
					class="col-lg-10 col-md-10 mb-12">
					<span style="display: none;" th:id="listTouristId + ${tourist.id}"
						th:text="${tourist.id}"></span>
					<div class="card h-10">
						<img class="card-img-top" style="width: 150px; height: 150 px;"
							th:src="${tourist.mainPicture}" alt="">
						<div class="card-body">
							<h4 class="card-title">
								<span th:text="${tourist.name}"></span>
							</h4>
							<p class="card-text">
								<span th:text="${tourist.category.name}"></span>
							</p>
						</div>
						<div class="card-footer">
							<a th:href="turistico + '?id=' + ${tourist.id}"
								class="btn btn-primary">Ver mais detalhes</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->



	<div th:if="${auth}">
		<div class="modal fade" id="newTouristModal" tabindex="-1"
			role="dialog" aria-labelledby="newTouristModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Novo ponto Turístico</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<form th:if="${auth}" action="#" th:action="@{/}" method="post"
						accept-charset="UTF-8" enctype="multipart/form-data"
						th:object="${tourist}">
						<div class="modal-body">


							<div class="form-group">
								<img id='imgTouristUpload' /> <input type="text"
									class="form-control" th:field="*{picture}"
									style="display: none;" />
							</div>
							<div class="input-group">
								<span class="input-group-btn"> <span
									class="btn btn-default btn-file"> Selecione uma Foto <input
										type="file" id="imgInp">
								</span>
								</span> <input type="text" class="form-control" readonly>
							</div>


							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Nome:</label>
								<input type="text" class="form-control" th:field="*{name}" />
							</div>



							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Localização:</label>
								<input type="text" class="form-control" id="touristLocation" />
								<input type="text" class="form-control"
									th:field="*{latLocalization}" style="display: none;" /> <input
									type="text" class="form-control" th:field="*{longLocalization}"
									style="display: none;" />
							</div>

							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Categoria:</label>
								<select class="form-control" id="category"
									name="touristSpotCategories" onchange="refreshIdCategory()">
									<option th:each="categorie : ${touristSpot}"
										th:value="${categorie.id}" th:text="${categorie.name}">Part
										name</option>
								</select> <input type="text" class="form-control"
									th:field="*{idCategory}" style="display: none;" />
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" id="closeModal"
								data-dismiss="modal">Fechar</button>
							<button type="button" class="btn btn-primary"
								onclick="newTourist()">Salvar</button>
							<input type="submit" value="Submit" id="saveTourist"
								style="display: none;" />
						</div>
					</form>

				</div>
			</div>
		</div>

	</div>


	<div id="footer"></div>


	<script src="../jquery.min.js"></script>
	<script src="../bootstrap.bundle.min.js"></script>
	<script src="../index.js"></script>


	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCykXMI93ml2s-159-aiOPQh1_dUyoUjsg&libraries=geometry,places&callback=initMap"
		async defer></script>

	<script type="text/javascript" th:inline="javascript">
		$(function() {
			//var allTouristPost   = "";

			/*<![CDATA[*/
			savedTourist = /*[[${savedTourist}]]*/'default';
			arrayLatLocalization = /*[[${arrayLatLocalization}]]*/'default';
			arrayLongLocalization = /*[[${arrayLongLocalization}]]*/'default';
			arrayIds = /*[[${arrayIds}]]*/'default';
			/*]]>*/

		});

		setTimeout(
				function() {
					if (savedTourist != "default") {
						if (savedTourist && savedTourist.name == "Not auth")
							showMessage(
									"error",
									"Erro ao cadastrar ponto turístico. Para cadastrar é preciso estar autenticado",
									2600);
						if (savedTourist && savedTourist.name == "Erro")
							showMessage(
									"error",
									"Erro ao cadastrar ponto turístico. O campo nome deve ser único",
									2600);
						else if (savedTourist && savedTourist.name)
							showMessage("success",
									"Sucesso ao cadastrar ponto turístico",
									2600);
					}
				}, 2700);
	</script>
</body>

</html>
